.container-fluid mat-button-toggle-group {
    margin-right: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

nav {
    background-image: url('../assets/images/nav.png');
    
}

nav a{
    color: #e9d4a9 !important;
}

::ng-deep .mat-button-toggle{
    background-image: url('../assets/images/background.jpg');
    border-left: none !important;
    color: #7f5a35;
    border-top: solid 3px #1e1a1c;
  }

  ::ng-deep .mat-button-toggle-checked{
    background-color: #7f5a35 !important;
    color: #e9d4a9 !important;
    background-image: none;
  }

  ::ng-deep .mat-button-toggle-group-appearance-standard{
    border-top: solid 2px #e9d4a9 !important;
    border: none;
  }