<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />  
<nav class="shadow-none navbar navbar-expand-sm ">
    <div class="container-fluid">
      <a class="navbar-brand" href=""> {{title}} </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerItems" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerItems">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarTogglerItems" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/cards">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/decks">Decks</a>
          </li>
        </ul>
      </div>
      <button mat-raised-button id="qsLoginBtn" class="edit" (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false"> Log in </button>
      <a class="userInfo" *ngIf="auth.user$ | async as user"> Welcome {{user.nickname}}</a>
      <button mat-raised-button class="edit" id="qsLogoutBtn" (click)="logout()" *ngIf="auth.isAuthenticated$ | async"> Log out </button>
      <mat-button-toggle-group #admin="matButtonToggleGroup" name="admin" aria-label="User or Admin" *ngIf="auth.user$ | async as user">
        <mat-button-toggle *ngIf="user.email == 'admin@hsdm.com'" aria-label="User View" [checked]="getAdminStatus() == 'false'" (click)="changeAdminStatus('false')"> <span class="material-symbols-outlined">person</span> </mat-button-toggle>
        <mat-button-toggle *ngIf="user.email == 'admin@hsdm.com'" value="true" aria-label="Admin view" [checked]="getAdminStatus() == 'true'" (click)="changeAdminStatus('true')"> <span class="material-symbols-outlined">admin_panel_settings</span> </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </nav>
<router-outlet></router-outlet>