<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />  
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">HSDM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerItems" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerItems">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarTogglerItems" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/cards">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/decks">Decks</a>
          </li>
        </ul>
      </div>
      <mat-button-toggle-group #admin="matButtonToggleGroup" name="admin" aria-label="User or Admin">
        <mat-button-toggle aria-label="User View" [checked]="getAdminStatus() == 'false'" (click)="changeAdminStatus('false')"> <span class="material-symbols-outlined">person</span> </mat-button-toggle>
        <mat-button-toggle value="true" aria-label="Admin view" [checked]="getAdminStatus() == 'true'" (click)="changeAdminStatus('true')"> <span class="material-symbols-outlined">admin_panel_settings</span> </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </nav>
<router-outlet></router-outlet>