<!-- Extra Filter bar -->
<div class="container-fluid text-center top">
    <mat-accordion [hidden]="view.value != 'grid'">
        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Filters</mat-panel-title>
                <mat-panel-description>
                    <mat-icon><span class="material-symbols-rounded">tune</span></mat-icon>
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>
                <mat-form-field appearance="fill" class="search-field-extra-filter">
                    <mat-label> <img src="assets/images/attack.png" style="height:25px"> Attack </mat-label>
                    <input matInput type="text" #attack="">
                    <button *ngIf="attack.value" matSuffix mat-icon-button aria-label="Clear" (click)="attack.value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill" class="search-field-extra-filter">
                    <mat-label> <img src="assets/images/health.png" style="height:25px"> Health </mat-label>
                    <input matInput type="text" #health="">
                    <button *ngIf="health.value" matSuffix mat-icon-button aria-label="Clear" (click)="health.value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Rarity</mat-label>
                    <mat-select [(value)]="rarityValue" disableOptionCentering="true">
                        <mat-option>-- All --</mat-option>
                        <mat-option [value]="option.value" *ngFor="let option of rarity">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Card Type</mat-label>
                    <mat-select [(value)]="cardTypeValue" disableOptionCentering="true">
                        <mat-option>-- All --</mat-option>
                        <mat-option [value]="option.value" *ngFor="let option of cardType">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </h3>
            <h3>
                <mat-form-field appearance="fill">
                    <mat-label>Tribe</mat-label>
                    <mat-select [(value)]="tribeValue" disableOptionCentering="true">
                        <mat-option>-- All --</mat-option>
                        <mat-option [value]="option.value" *ngFor="let option of tribe">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Spell School</mat-label>
                    <mat-select [(value)]="spellSchoolValue" disableOptionCentering="true">
                        <mat-option>-- All --</mat-option>
                        <mat-option [value]="option.value" *ngFor="let option of spellSchool">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Set</mat-label>
                    <mat-select [(value)]="setValue">
                        <mat-option>-- All --</mat-option>
                        <mat-optgroup *ngFor="let group of setGroups" [label]="group.name">
                            <mat-option [value]="set.value" *ngFor="let set of group.set">{{set.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                <mat-button-toggle-group #mode="matButtonToggleGroup" name="mode" aria-label="Class">
                    <mat-button-toggle value="" aria-label="All Classes" checked="true">
                        <button class="icon-button"> <img class="iconMode" src="assets/images/all.png" /> </button>
                    </mat-button-toggle>
                    <mat-button-toggle value="standard" aria-label="All Classes">
                        <button class="icon-button"> <img class="iconMode" src="assets/images/standard.png" /> </button>
                    </mat-button-toggle>
                    <mat-button-toggle value="wild" aria-label="All Classes">
                        <button class="icon-button"> <img class="iconMode" src="assets/images/wild.png" /> </button>
                    </mat-button-toggle>
                    <mat-button-toggle value="classic" aria-label="All Classes">
                        <button class="icon-button"> <img class="iconMode" src="assets/images/classic.png" /> </button>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </h3>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="container-fluid text-center toptable">
    <p [hidden]="view.value != 'table'"> <br/> </p>
</div>
<!-- Filter Bar -->
<div class="container-fluid text-center bottom">
    <h2>
        Class:
        <mat-button-toggle-group #class="matButtonToggleGroup" name="class" aria-label="Class">
            <mat-button-toggle value="" aria-label="All Classes" checked="true">
                <button class="icon-button"> <img class="icon" src="assets/images/all.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Demon Hunter" aria-label="Demon Hunter Class">
                <button class="icon-button"> <img class="icon" src="assets/images/dh.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Druid" aria-label="Druid Class">
                <button class="icon-button"> <img class="icon" src="assets/images/druid.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Hunter" aria-label="Hunter Class">
                <button class="icon-button"> <img class="icon" src="assets/images/hunter.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Mage" aria-label="Mage Class">
                <button class="icon-button"> <img class="icon" src="assets/images/mage.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Paladin" aria-label="Paladin Class">
                <button class="icon-button"> <img class="icon" src="assets/images/paladin.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Priest" aria-label="Priest Class">
                <button class="icon-button"> <img class="icon" src="assets/images/priest.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Rogue" aria-label="Rogue Class">
                <button class="icon-button"> <img class="icon" src="assets/images/rogue.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Shaman" aria-label="Shaman Class">
                <button class="icon-button"> <img class="icon" src="assets/images/shaman.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Warlock" aria-label="Warlock Class">
                <button class="icon-button"> <img class="icon" src="assets/images/warlock.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Warrior" aria-label="Warrior Class">
                <button class="icon-button"> <img class="icon" src="assets/images/warrior.png" /> </button>
            </mat-button-toggle>
            <mat-button-toggle value="Neutral" aria-label="Neutral Class">
                <button class="icon-button"> <img class="icon" src="assets/images/neutral.png" /> </button>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <img src="assets/images/manacost.png"> :
        <mat-button-toggle-group #manacost="matButtonToggleGroup" name="manacost" aria-label="Manacost">
            <mat-button-toggle value="" aria-label="All Manacost" checked="true"> All </mat-button-toggle>
            <mat-button-toggle value=0 aria-label="Manacost 0"> 0 </mat-button-toggle>
            <mat-button-toggle value=1 aria-label="Manacost 1"> 1 </mat-button-toggle>
            <mat-button-toggle value=2 aria-label="Manacost 2"> 2 </mat-button-toggle>
            <mat-button-toggle value=3 aria-label="Manacost 3"> 3 </mat-button-toggle>
            <mat-button-toggle value=4 aria-label="Manacost 4"> 4 </mat-button-toggle>
            <mat-button-toggle value=5 aria-label="Manacost 5"> 5 </mat-button-toggle>
            <mat-button-toggle value=6 aria-label="Manacost 6"> 6 </mat-button-toggle>
            <mat-button-toggle value=7 aria-label="Manacost 7"> 7 </mat-button-toggle>
            <mat-button-toggle value=8 aria-label="Manacost 8"> 8 </mat-button-toggle>
            <mat-button-toggle value=9 aria-label="Manacost 9"> 9 </mat-button-toggle>
            <mat-button-toggle value=10 aria-label="Manacost 10+"> 10+ </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field class="search-field">
            <mat-label>Search</mat-label>
            <input matInput type="text" #search="">
            <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="search.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-button-toggle-group class="small" #view="matButtonToggleGroup" name="view" aria-label="View">
            <mat-button-toggle value="grid" aria-label="Grid View" checked="true"> <i class="material-icons">grid_view</i> </mat-button-toggle>
            <mat-button-toggle value="table" aria-label="Tableview"> <i class="material-icons">table_rows</i> </mat-button-toggle>
        </mat-button-toggle-group>
    </h2>
</div>
<!-- Grid View -->
<div class="container-fluid" style="width:95%" *ngIf="view.value == 'grid'">
    <mat-grid-list [cols]="breakpoint" rowHeight="300px" (window:resize)="onResize($event)">
        <div *ngFor="let card of cards$ | async">
            <!-- Search all cards with the chosen input -->
            <div *ngIf="card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
            || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == ''">
                <!-- Select cards from the chosen class -->
                <div *ngIf="card.cardClass == class.value || class.value == ''">
                    <!-- Select cards with the chosen manacost -->
                    <div *ngIf="card.cost == manacost.value || manacost.value == ''">
                        <!-- Select cards with the chosen attack -->
                        <div *ngIf="card.attack?.toString() == attack.value || attack.value == ''">
                            <!-- Select cards with the chosen health -->
                            <div *ngIf="card.health?.toString() == health.value || health.value == ''">
                                <!-- Select cards with the chosen rarity -->
                                <div *ngIf="card.rarity == rarityValue || rarityValue == null">
                                    <!-- Select cards with the chosen card type -->
                                    <div
                                        *ngIf="(cardTypeValue == 'heroCard' && card.heroPower != null) || (cardTypeValue == 'minionCard' && card.health != null) 
                                    || (cardTypeValue == 'spellCard' && card.spellType != null) || (cardTypeValue == 'weaponCard' && card.durability != null) || cardTypeValue == null">
                                        <!-- Select cards with the chosen tribe -->
                                        <div *ngIf="card.tribe == tribeValue || tribeValue == null">
                                            <!-- Select cards with the chosen spell school -->
                                            <div *ngIf="card.spellType == spellSchoolValue || spellSchoolValue == null">
                                                <!-- Select cards with the chosen set -->
                                                <div
                                                    *ngIf="card.set == setValue || setValue == null || ((setValue == 'Legacy' || setValue == 'Core') && (card.set == 'Core & Legacy'))">
                                                    <!-- Select cards with the chosen game mode -->
                                                    <div *ngIf="(mode.value == 'classic' && (card.set == 'Legacy' || card.set == 'Core & Legacy') && card.cardClass != 'Demon Hunter') 
                                                        || (mode.value == 'standard' && (card.set == 'Murder at Castle Nathria' || card.set == 'Voyage to the Sunken City' || card.set == 'Fractured in Alterac Valley' || card.set == 'United in Stormwind' || card.set == 'Forged in the Barrens' || card.set == 'Core' || card.set == 'Core & Legacy')) 
                                                        || (mode.value == 'wild' && (card.set != 'Murder at Castle Nathria' && card.set != 'Voyage to the Sunken City' && card.set != 'Fractured in Alterac Valley' && card.set != 'United in Stormwind' && card.set != 'Forged in the Barrens' && card.set != 'Core')) 
                                                        || mode.value == ''">
                                                        <mat-grid-tile>
                                                            <img src="{{card.image}}" (click)="openDetails(contentDetails, card)">
                                                            <!-- <ul>
                                                                <li><b>Name:</b> {{card.name}}</li>
                                                                <li><b>Class:</b> {{card.cardClass}}</li>
                                                                <li><b>Manacost:</b> {{card.cost}}</li>
                                                                <li><b>Rarity:</b> {{card.rarity}}</li>
                                                                <li><b>Set:</b> {{card.set}}</li>
                                                                <li><b>Effect:</b> {{card.effect}}</li>
                                                                <li *ngIf="card.attack != null"><b>Attack:</b>
                                                                    {{card.attack}}
                                                                </li>
                                                                <li *ngIf="card.health != null"><b>Health:</b>
                                                                    {{card.health}}
                                                                </li>
                                                                <li *ngIf="card.tribe != null"><b>Tribe:</b>
                                                                    {{card.tribe}}
                                                                </li>
                                                                <li *ngIf="card.spellType!= null"><b>Spell School:</b>
                                                                    {{card.spellType}}</li>
                                                                <li *ngIf="card.durability != null"><b>Durability:</b>
                                                                    {{card.durability}}</li>
                                                                <li *ngIf="card.heroPower!= null"><b>Heropower:</b>
                                                                    {{card.heroPower}}</li>
                                                                <li *ngIf="card.heroPowerEffect!= null"><b>Heropower
                                                                        Effect:</b>
                                                                    {{card.heroPowerEffect}}</li>
                                                                <li *ngIf="card.heroPowerCost!= null"><b>Heropower
                                                                        Cost:</b>
                                                                    {{card.heroPowerCost}}</li>
                                                            </ul> -->
                                                        </mat-grid-tile>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-list>
</div>
<!-- Table View -->
<div class="container-fluid" style="width:80%;;" *ngIf="view.value == 'table'">
    <table id="sortTable" class="table table-dark table-hover table-responsive" style="width:100%">
        <thead class="table table-dark">
            <tr>
                <th> Class </th>
                <th> Name </th>
                <th> Cost </th>
                <th> Rarity </th>
                <th> Set </th>
                <th> Effect </th>
            </tr>
        </thead>
        <tbody class="table">
            <tr *ngFor="let card of cards$ | async">
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.cardClass}} </td>
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.name}} </td>
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.cost}} </td>
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.rarity}} </td>
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.set}} </td>
                <td *ngIf="(card.name?.toLowerCase()?.includes(search.value) || card.effect?.toLowerCase()?.includes(search.value) 
                || card.heroPower?.toLowerCase()?.includes(search.value) || card.heroPowerEffect?.toLowerCase()?.includes(search.value) || search.value == '') 
                && (card.cardClass == class.value || class.value == '') && (card.cost == manacost.value || manacost.value == '')"> {{card.effect}} </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title"><strong> Card info </strong></h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label> <strong> Cardname </strong> </label>
            <div class="input-group">
              <input id="name" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label> <strong> Cardclass </strong> </label>
            <div class="input-group">
              <input id="class" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label> <strong> Cost </strong> </label>
            <div class="input-group">
              <input id="cost" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label> <strong> Rarity </strong> </label>
            <div class="input-group">
              <input id="rarity" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label> <strong> Set </strong> </label>
            <div class="input-group">
              <input id="set" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label> <strong> Effect </strong> </label>
            <div class="input-group">
              <textarea matInput id="effect" class="form-control" disabled></textarea>
            </div>
        </div>
        <div class="form-group" id="attackform">
            <label> <strong> Attack </strong> </label>
            <div class="input-group">
              <input id="attack" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="healthform">
            <label> <strong> Health </strong> </label>
            <div class="input-group">
              <input id="health" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="tribeform">
            <label> <strong> Tribe </strong> </label>
            <div class="input-group">
              <input id="tribe" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="spelltypeform">
            <label> <strong> Spelltype </strong> </label>
            <div class="input-group">
              <input id="spelltype" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="durabilityform">
            <label> <strong> Durability </strong> </label>
            <div class="input-group">
              <input id="durability" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="hpform">
            <label> <strong> Heropower </strong> </label>
            <div class="input-group">
              <input id="hp" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group" id="hpeffectform">
            <label> <strong> Heropowereffect </strong> </label>
            <div class="input-group">
              <textarea id="hpeffect" class="form-control" disabled></textarea>
            </div>
        </div>
        <div class="form-group" id="hpcostform">
            <label> <strong> Heropowercost </strong> </label>
            <div class="input-group">
              <input id="hpcost" class="form-control" disabled>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')" >Close</button>
    </div>
  </ng-template>

<!-- id?: number;
    name: string | undefined;
    cardClass: string | undefined;
    image: string | undefined;
    cost: number | undefined;
    rarity: string | undefined;
    set: string | undefined;
    effect: string | undefined;
    attack?: number;
    health?: number;
    tribe?: string;
    spellType?: string;
    durability?: number;
    heroPower?: string;
    heroPowerEffect?: string;
    heroPowerCost?: number; -->