.icon-button{
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
  
  .icon-button .icon {
    width: 50px;
  }
  
  .container-fluid mat-button-toggle-group {
    margin-right: 10px;
    max-width: 100%;
  }

  .container-fluid mat-form-field {
    margin-right: 10px;
  }
  
  .container-fluid mat-grid-tile {
    max-width: 600px;
  }
  
  .container-fluid mat-grid-tile img {
    height: 100%
  }

  .search-field {
    width: 300px;
  }

  ::ng-deep .mat-select-panel {
    max-height: 75% !important;
  }